<div class="container rewards-section">
  <div class="rewards">
    <div class="eyebrow-copy">GET REWARDED</div>
    <div class="headline">Earn 10% Back in Rewards</div>
    <div class="sub-headline">Valid online & in-store with select styles.</div>
    <button class="cta-btn">Learn More</button>
  </div>
  <div class="loyalty-program">
    <div class="eyebrow-copy">PARTNERSHIP</div>
    <div class="headline">Join our free loyalty program</div>
    <div class="sub-headline">Because HFFE members get more.</div>
    <button class="cta-btn">Join the Program</button>
  </div>
</div>

{% schema %}
{
  "name": "Rewards-area",
  "presets": [
    {
     "name":"Rewards-area"
    }
  ]
}
{% endschema %}