<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<style>
.page-width{
    min-width: 100%;
  }

@media screen and (max-width: 749px){
  .carousel {
    display: block;
  }


  .quote {
    text-align: center;
  }
}
</style>

<div class="container carousel">
  <div class="testimonial-area">
    <div class="header" >Customer reviews</div>
    <div class="subheader">Get in touch with us to see how</div>
  <div class="main-carousel" data-flickity='{ "cellAlign": "left", "contain": true, "autoPlay": true, "freeScroll": true,
  "wrapAround": true }'>
      <div class="carousel-cell">
        <div class="testimonial">
          <div class="quote">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consectetur posuere est, vehicula cursus quam vestibulum non. Sed vel dui in diam condimentum ullamcorper ac ut tellus."</div>
          <div class="customer">
            <div class="name">John,</div>
            <div class="type">Customer</div>
          </div>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="testimonial">
          <div class="quote">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consectetur posuere est, vehicula cursus quam vestibulum non. Sed vel dui in diam condimentum ullamcorper ac ut tellus."</div>
          <div class="customer">
            <div class="name">John,</div>
            <div class="type">Customer</div>
          </div>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="testimonial">
          <div class="quote">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consectetur posuere est, vehicula cursus quam vestibulum non. Sed vel dui in diam condimentum ullamcorper ac ut tellus."</div>
          <div class="customer">
            <div class="name">John,</div>
            <div class="type">Customer</div>
          </div>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="testimonial">
          <div class="quote">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consectetur posuere est, vehicula cursus quam vestibulum non. Sed vel dui in diam condimentum ullamcorper ac ut tellus."</div>
          <div class="customer">
            <div class="name">John,</div>
            <div class="type">Customer</div>
          </div>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="testimonial">
          <div class="quote">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consectetur posuere est, vehicula cursus quam vestibulum non. Sed vel dui in diam condimentum ullamcorper ac ut tellus."</div>
          <div class="customer">
            <div class="name">John,</div>
            <div class="type">Customer</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="img"><img src="../assets/st__image__032-min-1_300x.webp" alt=""></div>
</div>


{% schema %}
{
  "name": "testimonial-carousel",
  "class": "carousel-area",
  "presets": [
    {
     "name":"testimonial-carousel"
    }
  ]
}
{% endschema %}