:root {
  --grey: #707276;
  --dark-grey: #33363b;
  --dark-grey-filter: invert(18%) sepia(6%) saturate(880%) hue-rotate(179deg) brightness(88%) contrast(85%);
  --gold: #b79b6c;
  --transition: 0.2s;
}

.container {
  margin: 2.5rem;
}

.button {
  border-radius: 4px;
}

/* .announcement-bar */
.announcement-bar {
  color: white;
  background-color: var(--dark-grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.announcement-infos {
  display: flex;
}

.announcement-infos > * {
  margin-left: 3rem;
}

.announcement-link {
  color: white;
  margin-right: 2.5rem;
  text-decoration: none;
  font-size: 1.5rem;
}

.login:hover {
  text-decoration: underline;
}

/* header */
header.header {
  margin-right: 0;
}

header .header__inline-menu {
  justify-self: center;
}

.header .header__menu-item {
  font-size: 1.6rem;
}

.header__icons {
  align-items: center;
}

.shop-name {
  color: var(--dark-grey);
  font-size: 2.5rem;
  font-weight: bold;
  transition: color var(--transition);
}

.shop-name:hover {
  color: var(--grey);
}

.shop-name::after {
  content: '.';
  color: var(--gold);
}

.header__active-menu-item {
  font-weight: bold;
}

.price-link {
  text-decoration: none;
}

.price {
  color: #000;
  margin-left: 2rem;
}

/* image-banner */
.image-banner-section .banner__content {
  padding-left: 0;
  margin-left: 0;
}

.image-banner-section .hero-img {
  width: 100% !important;
}

.image-banner-section .banner__box {
  max-width: 50rem !important;
}

.image-banner-section .banner__box > *{
  color: var(--dark-grey);
}

.image-banner-section .banner__box::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;  
  opacity: .6; 
  z-index: -1;
  background-color: #fff;
}

.image-banner-section .banner__box .banner__buttons{
  background-color: #000;
  border-radius: 4px;
}

.image-banner-section .banner__box .banner__buttons a{
  transition: background-color var(--transition);
}

.image-banner-section .banner__box .banner__buttons a:hover{
  background-color: var(--gold);
}

.image-banner-section .banner__text.subtitle {
  margin-top: 0;
}

.image-banner-section .banner__text.subtitle:first-child{
  font-weight: bold;
}


.image-banner-section .banner__text.subtitle:first-child:after {
  content: 'from $25';
  color: var(--gold);
}

.image-banner-section .banner::after {
  content: 0;
  background-color: #fff;
}

.image-banner-section .banner__media {
  background-color: #fff;
}

.image-banner-section .banner__content {
  position: relative;
  background: white;
  width: 25%;
}

.image-banner-section .product-teaser{
  z-index: 1;
  background-color: var(--dark-grey);
  color: white;
  position: absolute;
  bottom: 2%;
  left: 87%;
  margin-right: 2rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 4px;
}

/* bullet-columns */
.bullets-columns {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
  margin-top: 6rem;
  margin-bottom: 6rem;
  gap: 2rem;
}

.bullet-item {
  display: flex;
  gap: 1.5rem;
  flex-basis: 25%;
  justify-content: center;
}

.bullet-icon {
  width: 5rem;
  align-self: flex-start;
  filter: var(--dark-grey-filter);
}

.bullet-icon.question{
  width: 4.2rem;
}

.bullet-header {
  margin: 0;
  font-weight: bold;
  font-size: 1.8rem;
  color: black;
}

.bullet-description {
  font-size: 1.7rem;
}

/* collection list */

.collection {
  margin-bottom: 0;
}

.color-background-1.gradient > .collection-list-wrapper {
  margin: 2.5rem;
  padding: 0;
}

.card__media .media > :not(.zoom):not(.deferred-media__poster-button){
  width: 100%;
}

.section-collection-list .card__content {
  position: absolute;
  bottom: 15%;
  left: 8%;
}

.card__heading:hover {
  transition: color var(--transition);
}

.card__heading:hover {
  color: var(--gold);
}

.section-name {
font-size: 2.3rem;
font-weight: bold;
color: #000;
position: absolute;
top: 3%;
left: 8%;
}


.collection-list-wrapper.page-width.isolate.no-heading.no-mobile-link.section-template--15579679981747__16498234933a9f7611-padding {
  margin: auto;
}

/* rewards-section */
.rewards-section {
  display: flex;
  gap: 5.5rem;
  margin: 2.5rem;
}

.rewards,
.loyalty-program {
  flex-basis: 50%;
  margin: auto;
  text-align: center;
  font-weight: bold;
  padding: 5% 0;
}

.rewards {
  background-image: url('../assets/background-rewards.jpg');
}

.loyalty-program {
  background-color: #e7d8d6;
}

.eyebrow-copy {
  color: var(--dark-grey);
  margin-top: 0;
  margin-bottom: 0;
}

.headline {
  font-size: 3rem;
  color: #000;
}

.cta-btn {
	border: none;
	padding: 1em 2em;
  border-radius: 4px;
  margin-top: 2rem;
  color: white;
	background-color: black;
  font-weight: bold;
  transition: background-color var(--transition);
}

.cta-btn:hover {
	background-color: var(--gold);
}

.cta-btn:active {
	transform: scale(0.98);
}

/* video */

#shopify-section-template--15579679981747__164999958104b1f6ef {
  margin-top: 5.5rem;
}

#Deferred-Poster-Modal-_9VUPq3SxOc > img {
  position: static;
  width: 100%;
}

.textbox {
  position: absolute;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.30);
  top: 50%;
  left: 5.5%;
  transform: translateY(-50%);
  padding: 4rem;
  width: 45rem;
  color: var(--dark-grey);
  overflow: hidden;
  height: 47rem;
}

.textbox > .headline-text {
  font-weight: bold;
}

.box-one{
  height: 6rem;
  overflow: hidden;
  transition: height 0.5s;
}

.box-one,
.box-two {
  margin-top: 2rem;
}

.box-one > .header,
.box-two > .header {
  display: flex; justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  color: var(--dark-grey);
  padding: 1rem 2rem;
}

.box-one > .header:hover,
.box-two > .header:hover {
  color: var(--gold);
}

.box-one .headline-text,
.box-two .headline-text {
  font-weight: bold;
  font-size: 1.8rem;
}

.box-one .header .indicator,
.box-two .header .indicator {
  font-size: 2rem;
  text-align: center;
  width: 1rem;
  font-weight: bold;
}

.box-one > .textblock,
.box-two > .textblock {
  margin: 1rem 2rem;
}

.box-one.active {
  height: 16rem;
}

.deferred-media__poster-button.motion-reduce {
  background-color: #767676;
  transition: background-color 0.2s;
}

.deferred-media__poster-button.motion-reduce:hover {
  background-color: #f22320;
}

.icon-play > path{
  color: white;
}

/* popular products */

#shopify-section-template--15579679981747__16500169001f3e140d {
  margin-top: 9rem;
}

.popular-products {
  background-color: var(--grey);
}

.header-products {
  text-align: center;
  display: block;
  margin-bottom: 1.2rem;
}

.header-products > .title {
  font-weight: bold;
}

.sub-headline {
  text-align: center;
  color: var(--dark-grey);
  font-size: 2rem;
  font-weight: 500;
}

.collection {
  padding: 0;
  max-width: 100%;
}

.collection .slider-mobile-gutter ul {
  gap: 3rem;
}
.collection .slider-mobile-gutter ul li {
  width: 10%;
}

.badge {
  background-color: var(--gold);
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 0.9em;
  padding: 0.5rem 1.1rem;
}

.full-unstyled-link,
.card-information {
  font-weight: bold;
  color: var(--dark-grey);
  font-size: 1.7rem;
}

.product-buttons {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  justify-content: center;
  gap: 2rem;
  z-index: 5;
  display: none;
}

.product-buttons.visible {
  display: flex;
}

.save.btn,
.quickview.btn {
  padding: 1rem 2.5rem;
	color: white;
  border: none;
	background-color: var(--dark-grey);
  border-radius: 4px;
  font-weight: bold;
  transition: background-color var(--transition);
}

.save.btn:hover,
.quickview.btn:hover {
	color: white;
	background-color: var(--gold);
}

.save.btn:active,
.quickview.btn:active {
	transform: scale(0.98);
}

/* email-banner */
.email-area {
  background-image: url('../assets/email-background.jpg');
  padding: 8rem;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}

.email-area .field_input {
  border-radius: 4px;
}

.newsletter {
  max-width: 60rem;
  margin: auto;
  background-color: #fefefd;
}

.email-area h2{
  font-weight: bold;
  font-size: 3rem;
}

.email-area p{
  color: black;
}

.email-area .privacy-text {
  margin-top: 3rem;
}

#Subscribe {
  background-color: black;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  width:  25%;
  border-radius: 0 4px 4px 0;
}

/* collection-page */
.collection-site {
  margin-bottom: 5rem;
}